{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <span id="fuego"><strong>MATCHBOX</strong></span>
    <div class="navbar-nav" id="barra-navegacion">
        <a class="nav-item nav-link active" href="{{path('app_homepage')}}"><strong>INICIO</strong><span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{path('app_descubrir')}}"><strong>DESCUBRIR</strong></a>
        <a class="nav-item nav-link" href="{{path('app_paises')}}"><strong>PAÍSES</strong></a>
        <a class="nav-item nav-link" href="{{path('app_embajadores')}}"><strong>EMBAJADORES</strong></a>
        <a class="nav-item nav-link" href="{{path('app_hazteconocer')}}"><strong>HÁZTE CONOCER</strong></a>
        <a class="nav-item nav-link" href="{{path('app_quienessomos')}}"><strong>¿QUIENES SOMOS?</strong></a>
    </div>
    <div class="ml-auto">
        <img src="{{asset('img/arg.png')}}" style="height: 40px;">
        <img src="{{asset('img/espania.png')}}" style="height: 40px;">
        <img src="{{asset('img/mexico.png')}}" style="height: 40px;">
    </div>
</nav>

<div class="container-fluid" id="contenido">
    <div class="row">
        <p id="titulo_pagina"><strong>EMBAJADORES</strong></p>
        <p id="embajadores"><strong>¿Qué sería de "MATCHBOX" sin sus preciados embajadores? ¡En esta sección podrás conocer a todos ellos y ver todas sus publicaciones!</strong></p>
    </div>
</div>

<div class="container-fluid" id="footer">
    Aenean eget massa at ex elementum rutrum. Fusce leo diam, ultrices ac enim id, tincidunt tristique erat. Nullam eget metus iaculis, accumsan dolor a, semper elit. Nam tincidunt enim at erat tristique, a tempor metus blandit. Nulla facilisi. Suspendisse et sapien est. In varius, eros consequat fringilla ullamcorper, nunc nulla volutpat odio, ultricies mollis mi elit sed nisl. Cras sit amet lorem sem. Duis et urna vitae leo lacinia posuere. Phasellus non sollicitudin ligula. Nulla blandit, elit non rhoncus cursus, velit nisl rutrum neque, at congue elit risus et tellus. Proin a pharetra nisi. Nam mollis velit et pharetra luctus. 
    <hr>
    Aenean eget massa at ex elementum rutrum. Fusce leo diam, ultrices ac enim id, tincidunt tristique erat. Nullam eget metus iaculis, accumsan dolor a, semper elit. Nam tincidunt enim at erat tristique, a tempor metus blandit. Nulla facilisi. Suspendisse et sapien est. In varius, eros consequat fringilla ullamcorper, nunc nulla volutpat odio, ultricies mollis mi elit sed nisl. Cras sit amet lorem sem. Duis et urna vitae leo lacinia posuere. Phasellus non sollicitudin ligula. Nulla blandit, elit non rhoncus cursus, velit nisl rutrum neque, at congue elit risus et tellus. Proin a pharetra nisi. Nam mollis velit et pharetra luctus. 
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.css" />
<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js"></script>
<script src="{{asset('js/main.js')}}"></script>
{% endblock %}
