{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <span id="fuego"><strong>MATCHBOX</strong></span>
    <div class="navbar-nav" id="barra-navegacion">
        <a class="nav-item nav-link active" href="#"><strong>INICIO</strong><span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{path('app_descubrir')}}"><strong>DESCUBRIR</strong></a>
        <a class="nav-item nav-link" href="{{path('app_paises')}}"><strong>PAÍSES</strong></a>
        <a class="nav-item nav-link" href="{{path('app_embajadores')}}"><strong>EMBAJADORES</strong></a>
        <a class="nav-item nav-link" href="{{path('app_hazteconocer')}}"><strong>HÁZTE CONOCER</strong></a>
        <a class="nav-item nav-link" href="{{path('app_quienessomos')}}"><strong>¿QUIENES SOMOS?</strong></a>
    </div>
    <div class="ml-auto">
        <img src="{{asset('img/arg.png')}}" style="height: 40px;">
        <img src="{{asset('img/espania.png')}}" style="height: 40px;">
        <img src="{{asset('img/mexico.png')}}" style="height: 40px;">
    </div>
</nav>
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" id="carousel">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{asset('img/circa.jpg')}}"/>
                <div class="carousel-content">
                    <span></span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{asset('img/amazons.png')}}" alt="Second slide"/>
                <div class="carousel-content">
                    <span></span>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{asset('img/academic.jpg')}}" alt="Third slide"/>
                <div class="carousel-content">
                    <span></span>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container-fluid" id="contenido">
    <div class="row">
        <div class="col-9" id="texto">
            <p id="titulo"><strong>Circa Waves announced his third album: "WILOT"</strong></p>
            <p id="informacion">Publicado por <a href="#">Julian Almandos</a> - 04/12/2018</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lacinia risus. Nunc mattis augue odio, in rhoncus mauris vehicula at. Morbi sed purus quam. Curabitur imperdiet neque sit amet ligula laoreet, sit amet dapibus diam efficitur. Fusce accumsan varius nisl maximus tempus. Proin est orci, sagittis non feugiat id, condimentum aliquam lacus. Curabitur finibus erat dignissim massa consectetur, ut scelerisque justo tempor. Nulla et tristique dolor. Curabitur velit odio, fringilla nec finibus ut, pharetra nec lectus. Morbi neque metus, consequat id sapien et, congue porta eros. Praesent luctus purus nec dolor vehicula posuere. Nam sit amet dui ultricies, dapibus libero eget, euismod arcu. In non ex at arcu consequat tempus molestie sit amet lorem. Praesent vehicula non leo id gravida.
            <br><br>
            <img src="{{asset('img/circa2.jpg')}}" style="float:left;margin-right:30px;">
            Vivamus pharetra metus velit, a feugiat enim sodales nec. Vestibulum elit ex, convallis eget tellus ut, malesuada sollicitudin mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent suscipit tortor nibh, elementum imperdiet elit pulvinar in. Fusce id tellus eget ante tincidunt venenatis dignissim sit amet ipsum. Suspendisse ullamcorper, augue tempus pulvinar sollicitudin, purus purus rutrum mi, eget efficitur nunc eros vel neque. Sed hendrerit, dolor ut consectetur bibendum, elit lorem molestie justo, malesuada malesuada purus nisl nec mauris. Phasellus rutrum elementum turpis, ut elementum magna accumsan quis. Aenean quis quam luctus, egestas arcu vel, vehicula neque. Sed at lectus congue lectus scelerisque convallis. Pellentesque vel congue turpis, ac dapibus felis. Pellentesque turpis sem, faucibus sit amet eleifend at, consectetur faucibus justo. Praesent rhoncus venenatis mattis. Pellentesque varius, leo cursus molestie tincidunt, lorem metus dignissim quam, sit amet malesuada tortor quam sed lorem. Suspendisse id iaculis nulla. Maecenas condimentum rutrum elit, quis efficitur eros pulvinar vel.
            <br><br>
            Aenean fermentum purus consequat risus rutrum, eu consectetur urna molestie. Fusce in aliquet dui. Aenean justo felis, convallis et lectus a, auctor malesuada mauris. Phasellus urna elit, convallis eu nisl vel, pharetra iaculis elit. Cras ullamcorper, velit vel ullamcorper vulputate, lectus sapien blandit ex, vel pretium leo dolor at ligula. Aenean metus est, auctor sit amet nisl a, consequat luctus arcu. Quisque suscipit velit ligula. Pellentesque sed tincidunt magna. Donec ex leo, ullamcorper a ligula at, euismod pharetra dui. Ut accumsan eros eros, ultrices bibendum libero suscipit vitae. Nunc eu imperdiet dolor.
            <br><br>
            Ut libero mi, ultrices iaculis ullamcorper id, cursus vel erat. Mauris viverra, velit id interdum egestas, leo nunc rutrum diam, nec ullamcorper arcu tortor id tellus. In ullamcorper leo dui, eget dignissim ligula cursus venenatis. Nulla molestie leo ac sem rutrum, maximus semper nulla dignissim. Nulla et justo libero. Maecenas ut urna porttitor, sollicitudin justo ac, congue risus. Duis placerat mi ac vehicula consequat. Integer nunc sapien, faucibus in dolor eu, iaculis congue ipsum. Nunc pretium in mauris nec vulputate. Cras ac arcu sem. Sed cursus purus quis erat feugiat, eu maximus quam lobortis. Vivamus ultrices auctor mi sit amet porta. Phasellus rhoncus mi at turpis fringilla, in efficitur odio tristique. In orci nibh, ultricies pellentesque blandit faucibus, tempor a magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean varius quam at imperdiet porta.
            <br><br>
            <img src="{{asset('img/circa3.jpg')}}" style="float:right;margin-left:30px;">
            Etiam hendrerit accumsan porttitor. Aliquam tincidunt tellus sed mauris cursus, nec rhoncus diam elementum. Sed ac nisi malesuada, scelerisque eros sit amet, accumsan quam. Donec vitae neque sit amet est aliquam commodo. Sed mollis, est malesuada dictum commodo, orci dolor ornare tortor, eget consectetur tortor metus vitae nunc. Duis mauris ex, vulputate a facilisis vitae, malesuada vel ipsum. Aliquam pellentesque enim tincidunt iaculis vehicula. Nullam luctus nisi euismod nulla porta rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce elementum eros et sem venenatis, in suscipit orci viverra. Phasellus pharetra lacus non mauris aliquam, eu aliquet ex gravida. Integer tempus sem vel nisl porta consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc congue, urna ut luctus vehicula, urna erat tempor magna, ac hendrerit leo dui vel lectus. Vestibulum sem libero, lobortis a commodo quis, volutpat et est. Donec facilisis sagittis fringilla.
            <br><br>
            Cras porttitor diam mattis hendrerit egestas. Duis vel semper ex, ut pretium elit. Duis lectus est, sollicitudin vel turpis a, blandit ultrices mauris. Phasellus finibus ipsum sit amet tempor aliquet. Vestibulum fermentum quam at ligula suscipit, vitae luctus nunc posuere. Nulla facilisi. In dapibus nisl blandit, cursus libero a, porttitor augue. Praesent condimentum turpis vulputate tortor porta, eget lobortis ipsum ornare. Aenean vitae cursus elit. Nunc in eros vel ligula vestibulum fringilla. Nulla quis tristique nulla, ac sagittis risus. Quisque posuere nec nunc sit amet vulputate.
            <br><br>
            Aliquam in faucibus sem. Sed dictum gravida turpis quis interdum. Aliquam sollicitudin, mi eu efficitur consectetur, felis sapien elementum eros, auctor venenatis sem est commodo magna. Ut vitae diam felis. Ut tempor erat et venenatis interdum. Ut commodo elit dui, eget blandit neque cursus ac. Ut aliquet massa nec magna vehicula, semper pretium ante ultricies. Duis rhoncus lacinia purus. Aliquam erat volutpat. Duis lacinia sodales mi et placerat. Aliquam eleifend justo quis elit rhoncus dignissim.
            <br><br>
            Phasellus nec magna tincidunt, fermentum enim vitae, consequat mauris. Aliquam erat volutpat. Donec nunc quam, ultrices nec dui a, sollicitudin dictum risus. Proin iaculis velit non quam varius dignissim. Mauris eu diam gravida, maximus tortor quis, mollis sem. Sed nec laoreet felis, at luctus diam. Quisque semper egestas nunc. Cras quis nisi magna. Nulla lorem risus, fringilla sed ultricies ac, auctor sed risus. Proin a suscipit risus. Ut vitae lectus nec mauris egestas aliquam tempor vestibulum lorem.
            <br><br>
            Quisque libero dui, volutpat at dolor nec, posuere luctus sem. Phasellus lobortis, nulla non maximus bibendum, erat felis cursus urna, ullamcorper maximus nisl lectus in risus. Etiam aliquet, diam a imperdiet posuere, massa enim mollis mauris, ut facilisis metus purus sit amet enim. Ut vestibulum posuere ex eleifend lobortis. Donec eu viverra sapien, eu malesuada tortor. Integer commodo vel neque vel vulputate. Cras vitae elit ut orci convallis accumsan ac nec ligula. Ut eu mattis magna. Ut pulvinar quam ac tellus venenatis vehicula. Mauris blandit metus et est bibendum vestibulum. Nulla non ante a mauris luctus vestibulum. Nulla auctor sem at dictum lobortis. Vestibulum non venenatis justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec et nisl arcu.
            <br><br>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus ultricies lobortis ex quis bibendum. In lobortis quis lorem ac lobortis. Nam dictum, lectus eget vulputate tincidunt, erat purus aliquam libero, at egestas nibh nibh aliquam quam. Sed semper eu erat ut lobortis. Ut id condimentum leo. Praesent aliquet vulputate pulvinar. Phasellus urna quam, cursus eget faucibus non, imperdiet id dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac fringilla tellus. Curabitur at libero interdum, consectetur tortor eu, maximus eros. Aliquam et ante eu tellus maximus gravida.
            <br><br>
            Fusce imperdiet mi aliquet lorem egestas, id tincidunt lacus volutpat. Pellentesque auctor ligula quam, sed finibus ex consequat vehicula. Vivamus nec quam eget arcu commodo laoreet id vel ante. Curabitur ut consequat mi. Maecenas lobortis metus justo, vitae efficitur ligula ornare sed. Aenean accumsan interdum orci. Proin laoreet neque non enim commodo mattis. Aliquam accumsan laoreet sapien, finibus tempor neque mattis in. Ut ut enim sapien. Curabitur arcu dui, aliquam eu hendrerit at, finibus non felis. Donec luctus ut odio ut ornare. In nec vestibulum ex. Vivamus scelerisque vulputate tempor. Curabitur volutpat non justo ut pretium.
            <br><br>
            Curabitur est urna, tristique ut lorem eget, dictum mattis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet odio sit amet sem convallis luctus ac quis quam. Proin vitae ultrices urna. Quisque semper libero sem, eu maximus lacus interdum ut. Integer congue hendrerit ultricies. Integer massa lectus, mattis pellentesque bibendum in, ornare vitae est. Aenean lobortis venenatis purus vel fringilla.
            <br><br>
            Mauris pretium faucibus erat, dignissim pulvinar orci vehicula egestas. Aliquam a justo nunc. Sed egestas sapien diam, nec venenatis augue consequat sed. Aenean quis viverra nisl. Aliquam in iaculis est. Vestibulum quis ex eget mi dignissim rhoncus id fringilla quam. Nam ultrices dui at ante auctor finibus. Nullam nec est elit. Proin quis ante nec erat varius cursus. Ut vitae hendrerit dolor. Donec sit amet massa cursus, mattis dui sit amet, consectetur tellus.
            <br><br>
            Cras ac orci sit amet orci tristique bibendum. In non libero scelerisque, vestibulum mauris at, porta purus. Aliquam efficitur risus augue, vel cursus elit ullamcorper vel. Ut ut bibendum dolor. Nulla lacus lacus, tempor ut feugiat egestas, gravida at diam. Sed imperdiet, urna nec imperdiet egestas, sapien eros fermentum nibh, eu mattis ipsum enim nec risus. Morbi ac metus arcu. Aliquam consectetur dolor non quam suscipit commodo. In hac habitasse platea dictumst. Cras aliquam arcu nec aliquam mollis. Etiam vitae varius lectus. Praesent eget venenatis nunc. In id ante eu dui rhoncus molestie. Fusce placerat felis ac lectus faucibus, eu porttitor nibh pulvinar. Vivamus egestas, nisi sit amet rutrum gravida, lorem leo efficitur ligula, ut interdum nulla justo vel nibh. Sed lobortis, urna sed iaculis maximus, dui tellus vehicula erat, quis dignissim leo mi eu sapien.
            <br><br>
            Aenean eget massa at ex elementum rutrum. Fusce leo diam, ultrices ac enim id, tincidunt tristique erat. Nullam eget metus iaculis, accumsan dolor a, semper elit. Nam tincidunt enim at erat tristique, a tempor metus blandit. Nulla facilisi. Suspendisse et sapien est. In varius, eros consequat fringilla ullamcorper, nunc nulla volutpat odio, ultricies mollis mi elit sed nisl. Cras sit amet lorem sem. Duis et urna vitae leo lacinia posuere. Phasellus non sollicitudin ligula. Nulla blandit, elit non rhoncus cursus, velit nisl rutrum neque, at congue elit risus et tellus. Proin a pharetra nisi. Nam mollis velit et pharetra luctus. 
        </div>
        <div class="col-3" style="padding-left:30px;">
            <div style="position: sticky;top:0;">
                <!--<img src="{{asset('img/arg.png')}}" style="max-width: 100%;">
                <button type="button" class="btn btn-light btn-block" style="border: 1px solid black;">EMBAJADORES</button>
                <button type="button" class="btn btn-light btn-block" style="border: 1px solid black;">INFORMACIÓN</button>
                <button type="button" class="btn btn-light btn-block" style="border: 1px solid black;">VER PAÍS</button>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="footer">
    Aenean eget massa at ex elementum rutrum. Fusce leo diam, ultrices ac enim id, tincidunt tristique erat. Nullam eget metus iaculis, accumsan dolor a, semper elit. Nam tincidunt enim at erat tristique, a tempor metus blandit. Nulla facilisi. Suspendisse et sapien est. In varius, eros consequat fringilla ullamcorper, nunc nulla volutpat odio, ultricies mollis mi elit sed nisl. Cras sit amet lorem sem. Duis et urna vitae leo lacinia posuere. Phasellus non sollicitudin ligula. Nulla blandit, elit non rhoncus cursus, velit nisl rutrum neque, at congue elit risus et tellus. Proin a pharetra nisi. Nam mollis velit et pharetra luctus. 
    <hr>
    Aenean eget massa at ex elementum rutrum. Fusce leo diam, ultrices ac enim id, tincidunt tristique erat. Nullam eget metus iaculis, accumsan dolor a, semper elit. Nam tincidunt enim at erat tristique, a tempor metus blandit. Nulla facilisi. Suspendisse et sapien est. In varius, eros consequat fringilla ullamcorper, nunc nulla volutpat odio, ultricies mollis mi elit sed nisl. Cras sit amet lorem sem. Duis et urna vitae leo lacinia posuere. Phasellus non sollicitudin ligula. Nulla blandit, elit non rhoncus cursus, velit nisl rutrum neque, at congue elit risus et tellus. Proin a pharetra nisi. Nam mollis velit et pharetra luctus. 
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.css" />
<link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js"></script>
<script src="{{asset('js/main.js')}}"></script>
{% endblock %}
