body {
	padding-left: 150px;
	padding-right :150px;
	margin-top: 50px;
	/*background: linear-gradient(
	  	to bottom,
	  	#ECEFC1,
	  	#ECEFC1 50%,
	  	#DBE18E 50%,
	  	#DBE18E
	);
	background-size: 100% 100px;*/
	background-color: #f7f7f7;
}

#fuego {
	font-family: "Times New Roman", sans-serif;
	font-size: 42px;
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	color:white;
	/*background-color:#ACACE6;*/
	background-color:rgba(202, 52, 53, 0.5);
	line-height: 1.15!important; /* para acomodar el titulo al navbar, es solo por estilo, ver como programarlo despues (una foto, pinta directamente el navbar, etc).*/
}

.navbar {
	background: rgba(247, 247, 247, 1)!important;
	height:50px!important;
	margin-left: 150px!important;
	margin-right :150px!important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item:hover {
	color: #e09596!important;
}

#contenido {
	background-color: #FFFFFF;
	margin-top:30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
	background-color: #FFFFFF;
	margin-top:30px;
	margin-bottom:30px;
	height:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

#titulo {
	font-size: 42px;
	margin-top: 60px;
	color:white;
	background-color:rgba(202, 52, 53, 0.5);
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	padding-left:20px;
	padding-right:20px;
}

#titulo_pagina {
	font-size: 60px;
	margin-top: 60px;
	margin-bottom:30px;
	color:white;
	background-color:rgba(202, 52, 53, 0.5);
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	padding-left:20px;
	padding-right:20px;
	left: 50%;
	transform: translate(-50%, -0%);
	position: relative;
}

#barra-navegacion {
	left: 50%;
	transform: translate(-50%, -0%);
	position: absolute;
}

#pais {
	font-size: 30px;
	text-align: center;

}

.carousel-item {
	height:500px;
}

#texto {
	padding-left: 50px;
	padding-bottom: 50px;
}

.carousel-content {
  	position: absolute;
    top: 20%;
    left: 7%;
    height:300px;
    width:600px;
    background-color:white;
    opacity: 0.6;
    z-index: 3;
  	color: white;
  	text-shadow: 0 1px 2px rgba(0,0,0,.6);
  	padding: 20px;
}

.carousel-control-prev,.carousel-control-next {
	width:5%;
}

.carousel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quienessomos {
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	padding-bottom:60px;
}

#hazteconocer {
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	padding-bottom:60px;
}

#embajadores {
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	padding-bottom:60px;
}

#paises {
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	padding-bottom:60px;
}

#descubrir {
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	padding-bottom:60px;
}